* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-top: 15px;
}

#register-form {
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    font-weight: 800;
    text-align: center;
    border: 1px 3px solid #ccc;
    border-radius: 10px;
    background: #f9f9f9;
    background-color: #888888;
}

#register-form label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

#register-form input[type="text"],
#register-form input[type="number"],
#register-form input[type="email"],
#register-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#register-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: #333;
    color: #fff;
    cursor: pointer;
}

#register-form button:hover {
    background: #555;
}
